*{

    padding: 0px;
    margin: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


#navbar {
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 1%;

}

#navbar>a{
    color: white;

}



#submit{
    margin: auto;
    display: flex;
    justify-content: center;
}
#submit>input{
    cursor: pointer;
}

#form{

    margin: auto;
    width: 30%;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    display: flex;

    border: 1px solid black;
    flex-direction: column;
}

#form>div{
    padding: 1%;
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    justify-content: space-between;

}

#go{

    background-color: black;
    color: white;

}