#navbar {

    margin: auto;
    display: flex;
    justify-content: space-around;

}


#registered_data {

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;


}

#filter_sort {

    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}